.fabricProductTileContainer {
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.fabricProductTileImg {
    width: 18rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 18rem;
    transition: all 0.5s ease;
}


.fabricProductTileBox {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.fabricProductTileTitle {
    text-align: center;
    font-weight: 600;
    color: rgb(39, 39, 39);
}

.fabricProductTilePriceColor {
    color: green;
}

.fabricProductTileQuantityColor {
    color: red;
}

.fabricProductTileButtons {
    padding-block: 0.5rem;
}