.displayBanner {
    width: 90vw;
    height: 50vh;
    background-image: url('https://st3.depositphotos.com/9747634/32010/i/450/depositphotos_320104748-stock-photo-hangers-with-different-clothes-in.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.displayBannerContainer {
    width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.418);
}

.displayBannerContainer:hover {
    background-color: rgba(0, 0, 0, 0.568);

}

.displayBannerText {
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.displayBannerHeading {
    color: white;
    font-size: 4.5rem;
    font-weight: 600;

}

.displayBannerButtons {
    display: flex;
    gap: 2rem;
}

@media (max-width:720px) {

    .displayBannerText {
        color: white;
        font-size: 2rem;
        font-weight: 600;
    }

    .displayBannerHeading {
        color: white;
        font-size: 3.5rem;
        font-weight: 600;

    }
}

@media (max-width:500px) {

    .displayBannerText {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .displayBannerHeading {
        color: white;
        font-size: 2.5rem;
        font-weight: 600;

    }

    .displayBannerContainer {
        height: 40vh;
    }

    .displayBanner {
        height: 40vh;
    }
}